*{
    padding : 0 ;
    margin : 0 ;
    box-sizing : border-box ;

}

body{
    font-family : verdana ;
}

.banner-area{
    width : 100%;
    height : 100vh;
    background : lightgreen ;
    background : linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.5)),url("/images/sofa2.webp");
    background-size : cover ;

}
.content-area{
    height : 100% ;
    display : flex ;
    justify-content : center ;
    align-items : center ;
}
.content{
    text-align : center ;
}
.content h1{
    font-size : 70px ;
    color : #c8d8e4 ;
    font-family : serif ;
}

.content p{
    font-size : 25px ;
    color : #ddd ;
}

.content .btn{
    border-color:#c8d8e4 ;
    color : #c8d8e4 ;
}

.clr-prim{
    background : #2b6777;
}